*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
}
#top{
    width: 100%;
    min-height: 50vh;
    background-image: url(image/one.jpg);
    background-size: cover;
    background-position: top;
}
#overlay{
    width: 100%;
    min-height:inherit;
    position: relative;
    background-color: rgba(145, 139, 139, 0.281);
}
#text{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    bottom: 20%;
    width: 100%;
    /* background-color: red; */
}
#text-right{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#text-right p {
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
    width: 40%;
}
#text h1{
    font-size: 5vw;
    font-weight: 500px;
    color: #fff;
    font-family: sans-serif;
}
/* #icon{
    display: flex;
    gap: 20px;
} */
#icon i{
    color: #fff;
    cursor: pointer;
    font-size: 1.5vw;
    transition: .5s;
}
#icon i:hover{
    color: gray;
}
#bottom{
    width: 100%;
    min-height: 50vh;
    display: flex;
}
#bottom #bone{
    width: 25%;
    min-height: inherit;
    background-color: #fff;
    font-family: sans-serif;
    padding: 30px;
    /* background-image: url(image/two.jpg);
    background-size: cover;
    background-position: center; */
    /* background-color: rgba(241, 237, 237, 0.281); */
}
#bone p{
    font-size: 14px;
    margin-top: 20px;
}
#bottom #btwo{
    width: 25%;
    min-height: inherit;
    background-image: url(image/five.jpg);
    background-size: cover;
    background-position: center;
}
#bthree{
    width: 20%;
    min-height: inherit;
}
#bthree #first{
    width: 100%;
    height: 50%;
    background-color: orange;
    font-family: sans-serif;
    padding: 20px;
}
#first p{
    margin-top: 10px;
    font-size: 12px;
}
#bthree #second{
    width: 100%;
    height: 50%;
    background-image: url(image/four.jpg);
    background-size: cover;
    background-position: center;
}
#bottom #bfour{
    width: 30%;
    min-height: inherit;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    padding: 30px;
    /* background-image: url(image/five.jpg);
    background-size: cover;
    background-position: center; */
}
#bfour p{
    margin-top: 30px;
    line-height: 20px;
}
@media (max-width:500px){
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #overlay #text #text-right{
        flex-direction: column;
        
    }
    #overlay #text #text-right p{
        width: inherit;
        margin-top: 10px;
    }
}